.footerContainer{
    display: flex;
    flex-direction: column;
    padding: 10% 10% 10% 10%;
    text-align: left;
    background-color: white;
    color: #2a4468;
}
.socialContainer{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}
.footerTitle{
    font-size: 1.5em;
    font-weight: 600;
}
.iconSocial{
    margin-right: 1.5em;
}
.sitemapContainer{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}
.sitemapItem{
    color: #2a4468;
    text-decoration: none;
    margin-top: 0.8em;
}
.iconLinkFooter{
    margin-top: 13px;
}
.contactFooter{
    margin-top: 8px;
}
.footerDerechos{
    border-top: 1px solid gainsboro;
    padding-top:1em ;
    padding-bottom: 1em;
    color:#7e7e7e;
    text-align: left;
    padding-left: 8%;
}
@media (min-width: 600px) {
    .footerContainer{
        display: flex;
        flex-direction: row;
        padding: 5% 10% 5% 10%;
        justify-content: space-between;
    }
    .socialContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footerTitle{
        font-size: 1em;
        font-weight: bold;
    }
   
  }